*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    list-style-type: none;
    text-decoration: none;
}

a, img {
    display: block;
}

body {
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: var(--primary-clr);
    font-family: var(--corpus-ff);
    font-size: var(--fs-300);
    color: var(--base-clr);
}

h1,
h2,
h3 {
    font-family: var(--title-ff);
    font-weight: var(--title-fw);
}