.d-flex {
    display: flex;
}

.fdc {
    flex-direction: column;
}

.flex-fill {
    flex: 1 1 auto;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.jcsb {
    justify-content: space-between;
}

.aifs {
    align-items: flex-start;
}

.asfs {
    align-self: flex-start;
}

.asc {
    align-self: center;
}

.d-grid {
    display: grid;
}