.blur-logo {
    filter: blur(var(--logo-blur));
}

.blur-dropdown {
    filter: blur(var(--tertiary-icon-blur));
}

.blur-bulletpoint {
    filter: blur(var(--bulletpoint-blur));
}


.blur-dice-bg {
    filter: blur(var(--primary-icon-blur));
}

.txt-clr {
    color: var(--base-clr);
}

.primary-nav {
    padding: var(--p-nav);
    background-color: var(--primary-clr);
    box-shadow: var(--nav-box-shadow);
    position: sticky;
    height: 5.5rem;
    top: 0;
    z-index: 1;
}

.navbar{
    width: 100%;
    height: 100%;
}

.nav-link {
    font-size: var(--fs-500);
    font-weight: var(--nav-link-fw);
}

.signup {
    height: 100vh;
    width: 80%;
    margin-inline: auto;
    border: none;
    > * + * :where(label) {
        margin-top: 1em;
        margin-bottom: .375em;
    }
    :where(:not(button)) {
        width: 100%;
    }
    :where(button) {
        font-size: var(--fs-300);
        // gap: 1em;
    }
    &-content { 
        :where(button) {
            margin-top: calc(var(--fs-300) * 2);
            font-size: var(--fs-300);
        }
    }
}

section:where(.blur-wrapper) {
    overflow: hidden;
}

.section-spacing {
    padding-block: var(--p-section);
}

.hero-title {
    font-size: var(--fs-800);
    line-height: 1.1;
    letter-spacing: .09rem;
}

.hero-spacing {
    padding-inline: var(--p-article);
    > *+* {
        margin-top: 1em;
        &:nth-child(2) {
            width: 19.5ch;
            line-height: 1.5;
        }
        &:nth-child(3) {
            margin-top: 2em;
        }
    }
}

.even-bg {
    background-color: var(--secondary-clr);
}

.bulletpoint {
    max-width: 1.25rem;
    transform: rotate(-90deg);
    margin-top: .125rem;
    margin-right: 1em;
    fill: var(--fantasy-accent-clr);
    filter: drop-shadow(0 0 .125rem var(--fantasy-accent-clr));
}

.article-spacing {
    padding-inline: var(--p-article);
}

.article-title {
    font-size: var(--fs-600);
    line-height: 1.2;
    width: 12ch;
}

.article-paragraph > * + *{
    margin-top: 1em;
    line-height: 1.5;
}

.p-btn {
    padding: var(--p-btn);
}

.phantom-btn {
    background-color: transparent;
    color: var(--base-clr);
    border: 1px solid var(--base-clr);
    border-radius: 1.75rem;
    font-family: var(--corpus-ff);
    font-size: var(--fs-300);
    transition: all .5s;
    &:hover {
        background-color: var(--base-clr);
        color: var(--primary-clr);
    }
}

.footer {
    background-color: var(--secondary-clr);
    padding-inline: var(--p-article);
    &-content {
        padding-block: var(--p-section);
        :where(li) {
            text-align: center;
        }
        > * + * {
            margin-top: 1.75rem;
            > * + * {
                margin-top: 1.5em;
            }
        }
    }
}

.footer-nav {
    font-size: var(--fs-100);
    line-height: 1.5;
    padding-block: var(--fs-300);
    flex-wrap: wrap;
    color: var(--base-clr);
    >:not(:first-child) {
        &::marker {
            content: '•';
            color: var(--base-clr);
        }
    }
    > * + * {
        margin-left: 1.5em;
        padding-left: 1em;
    }
}